<!DOCTYPE html>
<html>
<head>
  <!--
  Header.ejs
  Author: Chris Dyck
  Usage: include ../partials/header 
  Website: My Portfolio
  File Description: Used to add common Header elements to the page
-->
  <title>
    <%= title %>
  </title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/uikit/css/uikit.min.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome/css/fontawesome-all.min.css" />
  <script src="/stylesheets/uikit/js/uikit.min.js"></script>
  <script src="/stylesheets/uikit/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <% include navbar %>
  <div class="uk-container">

    