<!DOCTYPE html>
<html>

<head>
  <title>
    The title is <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/uikit/css/uikit.min.css" />
  <script src="/stylesheets/uikit/js/uikit.min.js"></script>
  <script src="/stylesheets/uikit/js/uikit-icons.min.js"></script>
</head>