<!--
  navbar.ejs
  Author: Chris Dyck
  Usage: include ../partials/navbar
  Website: My Portfolio
  File Description: Used to add common navigation bar elements to the page
-->
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <% if(Model.FamilyMembers != null){ %>
                <li>
                    <a href="#">Family</a>
                    <% console.log(Model); %>
                        <% var data = Model.FamilyMembers; %>

                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <% for(var i = 0; i < data.length; i++) { %>
                                        <% if(data[i].Name != 'Not Found'){%>
                                            <li>
                                                <a href="/family/<%=data[i].Name %>">
                                                    <%= data[i].Name + " (" + data[i].Relationship + ")" %>
                                                </a>
                                            </li>

                                            <% } %>
                                                <% } %>

                                </ul>
                            </div>
                </li>
                <% } %>

        </ul>

    </div>
</nav>