<!--
  socialicons.ejs
  Author: Chris Dyck
  Usage: include ../partials/socialicons
  Website: My Portfolio
  File Description: Used to add Social Media icon elements to the page
-->

<ul class="uk-subnav">
    <li>
        <a href="https://www.facebook.com/chris.g.dyck" title="Facebook" target="_blank">
            <i class="fab fa-facebook fa-3x"></i>
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCq7JBrjXII9H-vRfh93cpHg" title="Youtube" target="_blank">
            <i class="fab fa-youtube fa-3x"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/chris_dyck" title="Twitter" target="_blank">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/chrisgdyck" title="LinkedIn" target="_blank">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/chrisdyck/" title="GitHub" target="_blank">
            <i class="fab fa-github fa-3x"></i>
        </a>
    </li>
</ul>