<!--
  error.ejs
  Author: Chris Dyck
  Website: My Portfolio
  File Description: Displays standard error content
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
