<!--
  Index.ejs
  Author: Chris Dyck
  Website: My Portfolio
  File Description: Displays home page content
-->
<% include partials/header %>

  <h1>
    <%= title %>
  </h1>
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">My family</h3>
        <p>
          <a href="family">Learn more</a>
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Contact me!</h3>
        <p>
          <a href="contact">Learn more</a>
        </p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Coming soon...</h3>
        <p>More great things coming to this page. Stay tuned!</p>
      </div>
    </div>
  </div>

<% include partials/footer %>