<% include partials/header %>

  <body>
    <% include partials/navbar %>

      <div class="uk-container">
      <h1>
        <%= title %>
      </h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
          <a href="family">
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">My family</h3>
              <p>A page that displays members of myfamily</p>
            </div>
          </div></a>
          <div>
            <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">Coming soon...</h3>
              <p>More great things coming to this page. Stay tuned!</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-secondary uk-card-body">
              <h3 class="uk-card-title">Coming soon...</h3>
              <p>More great things coming to this page. Stay tuned!</p>
            </div>
          </div>
        </div>
      </div>
  </body>

  </html>